.addres {
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: "oswaldregular", sans-serif;

  @media (min-width: $desktop-width) {
    margin: 0;
    background-color: #f2f2f2;
  }
}

.addres__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  padding-bottom: 26px;

  @media (min-width: $tablet-width) {
    width: 708px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    width: 565px;
    min-height: 198px;
    top: 95px;
    left: 110px;
    background-color: #ffffff;
  }
}

.addres__title {
  width: 130px;
  color: #111111;
  margin: 0;
  padding-top: 27px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 171px;
    font-size: 20px;
    line-height: 26px;
  }
}

.addres__text {
  width: 140px;
  margin: 0;
  padding-top: 27px;
  color: #444444;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    width: 171px;
    font-size: 16px;
    line-height: 20px;
    text-align: end;
  }
}

.addres iframe {
  @media (min-width: $tablet-width) {
    width: 768px;
    height: 400px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    margin: 0;
  }
}
