.addres {
  font-family: "oswaldregular", sans-serif;
}

.addres__title {
  color: #111111;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.addres__text {
  color: #444444;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
}
