.addres {
  font-family: "oswaldregular", sans-serif;

  @media (min-width: $desktop-width) {
    margin: 0;
    background-color: #f2f2f2;
  }
}

.addres__wrapper {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    width: 708px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
  }
}

.addres__title {
  color: #111111;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.addres__text {
  color: #444444;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.addres iframe {
  @media (min-width: $tablet-width) {
    width: 768px;
    height: 400px;
    margin-left: -30px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    margin: 0;
  }
}

