.advantages {
  padding: 0 20px;
  font-family: "oswaldregular", sans-serif;
}

.advantages__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}

.advantages__text {
  color: #444444;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.advantages__list {
  margin: 0;
  padding: 0;
}

.advantages__item {
  list-style-type: none;
}
