.catalog {
  padding: 0 20px;
  font-family: "oswaldregular", sans-serif;

  @media (min-width: $desktop-width) {
    padding: 0 110px;
  }
}

.catalog__title {
  margin: 0;
  padding: 27px 0 41px 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  border-top: 1px solid #ebebeb;

  @media (min-width: $tablet-width) {
    margin-top: 64px;
    padding: 0;
    border-top: none;
    font-size: 60px;
    line-height: 60px;
  }
}

.catalog__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 141px 60px;
    margin-top: 163px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(auto-fill, 245px);
    gap: 143px 80px;
  }
}

.catalog__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 19px 0 25px 0;
  align-items: center;
  border-top: 1px solid #ebebeb;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    position: relative;
    grid-template-columns: 1fr;
    margin: 0 auto;
    width: 324px;
    padding: 0;
    background-color: #f2f2f2;
    border: none;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
  }
}

.catalog__item:last-child {
  border-bottom: 1px solid #ebebeb;

  @media (min-width: $tablet-width) {
    background-color: #ffffff;
    border: 1px solid #ebebeb;
  }
}

.catalog__img {
  text-align: center;

  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: 85%;
    left: 40%;
  }
}

.catalog__item-title {
  grid-column: 1 / -1;
  color: #111111;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 134px;
    margin: 0 auto;
    padding-top: 161px;
    font-size: 20px;
    line-height: 22px;
  }
}

.catalog__item-text {
  grid-column: 1 / -1;
  color: #444444;
  text-align: center;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    width: 167px;
    margin: 0 auto;
    margin-top: 23px;
    font-size: 16px;
    line-height: 18px;
  }
}

.catalog__button {
  grid-column: 1 / -1;
  margin-top: 22px;
  padding: 10px 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 250px;
    margin: 0 auto;
    margin-top: 34px;
    margin-bottom: 39px;
  }

  @media (min-width: $desktop-width) {
    width: 168px;
    margin: 0 auto;
    margin-top: 33px;
    margin-bottom: 40px;
  }
}
