.contact {
  position: relative;
}

.contact::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  top: 42px;
  left: 0;
  background-color: #68b738;
  z-index: -1;
}

.contact__line {
  width: 1220px;
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    margin-left: 70px;
  }
}

.contact__title {
  width: 190px;
  margin: 0;
  padding: 0 20px;
  padding-top: 26px;
  padding-right: 11px;
  background-color: #ffffff;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    width: 522px;
    margin-left: 30px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    padding: 0 40px;
    padding-top: 35px;
  }
}

.contact__wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 50px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 110px;
  }
}

.contact__label-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
}

.contact__label {
  display: block;
  width: 71px;
  padding-top: 14px;
  color: #444444;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 71px;
    font-size: 20px;
    line-height: 30px;
  }
}

.contact__input {
  width: 100%;
  height: 39px;
  margin-left: 11px;
  padding-left: 13px;
  font-family: "oswaldregular", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $desktop-width) {
    width: 486px;
  }
}

.contact__label-wrapper:nth-child(2) .contact__input {
  margin-left: 10px;
}

.contact__phone {
  position: absolute;
  top: 13px;
  right: 13px;
  fill: #000000;
}

.contact__mail {
  position: absolute;
  top: 16px;
  right: 15px;
  stroke: #000000;
}

.contact__phone:hover {
  fill: #68b738;
}

.contact__mail:hover {
  stroke: #68b738;
}
