.description {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.description__wrapper {
  @media (min-width: $tablet-width) {
    display: grid;
    gap: 30px 0;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 570px 570px;
    gap: 0 60px;
  }
}

.description__weight-loss,
.description__weight-gain {
  background-color: #f2f2f2;
}

.description__title {
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
}

.description__text {
  color: #444444;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.description__link {
  color: #000000;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
}
