.diet {
  @media (min-width: $tablet-width) {
    margin-left: 4px;
    margin-top: 56px;
    padding: 0 26px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.diet__list {
  margin: 0;
  margin-top: 38px;
  padding: 0;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
    border: 1px solid #e7e7e7;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    margin: 0;
    padding: 0;
  }
}

.diet__item {
  color: #222222;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.diet__item:last-child {
  margin-bottom: 30px;
}
