.efficiency {
  position: relative;
  margin-top: 49px;
  padding: 0 20px;
  background-color: #eaeaea;

  @media (min-width: $tablet-width) {
    margin: 0;
    background-color: #ffffff;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 1440px;
    margin-top: 38px;
    padding: 0;
  }
}

.efficiency__wrapper {
  margin-top: 40px;

  @media (min-width: $tablet-width) {
    margin-top: 66px;
    background-color: #ffffff;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-top: 77px;
    padding: 0 110px;
    padding-top: 71px;
    background-color: #f2f2f2;
  }
}


.efficiency__title {
  margin-top: 25px;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  letter-spacing: -1px;

  @media (min-width: $tablet-width) {
    margin-top: 42px;
    margin-bottom: 0;
    letter-spacing: -1.9px;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    background-color: #ffffff;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
    grid-column: 1 / -1;
  }
}

.efficiency__text {
  color: #444444;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    width: 686px;
    margin: 0;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    width: 436px;
  }
}

.efficiency__statistic-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    margin-top: 52px;
  }

  @media (min-width: $desktop-width) {
    width: 356px;
    margin-top: 68px;
  }
}

.efficiency__statistics-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.efficiency__statistics-item {
  position: relative;
  width: 122px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  text-align: center;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    width: 160px;
  }
}

.efficiency__statistics-item:last-child {
  margin-left: 32px;

  @media (min-width: $tablet-width) {
    margin-left: 42px;
  }
}

.efficiency__statistics-result {
  margin: 0;
  padding: 13px 0 17px 0;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: -0.6px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding: 15px 0 18px 1px;
    font-size: 30px;
    line-height: 37px;
  }
}

.efficiency__statistics-subtitle {
  position: absolute;
  display: block;
  width: 81px;
  top: 45px;
  left: 19px;
  color: #444444;
  background-color: #eaeaea;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    width: 113px;
    top: 64px;
    left: 24px;
    font-size: 14px;
    line-height: 13px;
    background-color: #ffffff;
  }

  @media (min-width: $desktop-width) {
    background-color: #f2f2f2;
  }
}

.efficiency__statistics-item:last-child .efficiency__statistics-subtitle {
  @media (min-width: $tablet-width) {
    width: 142px;
    top: 64px;
    left: 9px;
    background-color: #ffffff;
  }

  @media (min-width: $desktop-width) {
    background-color: #f2f2f2;
  }
}

.efficiency__subtitle {
  margin: 0 auto;
  margin-top: 34px;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: -0.2px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 178px;
    margin: 0;
    margin-top: 7px;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: -0.3px;
    text-align: end;
  }

  @media (min-width: $desktop-width) {
    width: 356px;
    margin-top: 57px;
    text-align: start;
  }
}

.efficiency__subtitle span {
  @media (min-width: $desktop-width) {
    margin-left: 59px;
  }
}
