.main-nav__wrapper {
  font-family: "oswaldmedium", sans-serif;
}

.main-nav__item {
  color: #000000;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  list-style-type: none;
}

.main-nav__item a {
  color: #000000;
  text-decoration: none;
}
