.main-container {
  width: 320px;
  margin: 0 auto;
  padding: 0;
}

.button {
  color: #ffffff;
  background-color: #68b738;
  font-family: "oswaldregular", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
}
