.main-container {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .main-container {
    width: 708px;
    padding: 0 30px;
  }
}

@media (min-width: $desktop-width) {
  .main-container {
    width: 1200px;
    padding: 0 110px;
  }
}
