.main-nav {
  position: relative;
  min-height: 65px;
}

.main-nav__wrapper {
  position: relative;

  @media (min-width: $tablet-width) {
    width: 440px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 500px;
  }
}

.main-nav__toggle {
  padding: 20px 0;
  background-color: #ffffff;
  border: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav--opened .main-nav__toggle {
  display: none;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 30px;
    right: -1px;
    width: 26px;
    height: 2px;
    background-color: #000000;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav__open-burger {
  display: none;
}

.main-nav__list {
  margin: 0;
  padding: 0;
}

.main-nav__item {
  padding: 23px 0;
  color: #000000;
  background-color: #ffffff;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  list-style-type: none;
}

.main-nav__item a {
  color: #000000;
  text-decoration: none;
}
