.main-nav {
  position: relative;

  @media (min-width: $tablet-width) {
    background-image: none;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    right: 0;
    height: 694px;
    background-image: url("../img/background-desktop-1.png");
    background-repeat: no-repeat;
    z-index: 2;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background-desktop-2x.png");
    }
  }
}

.main-nav__catalog {
  @media (min-width: $desktop-width) {
    background-image: none;
  }
}

.main-nav__form {
  @media (min-width: $desktop-width) {
    background-image: none;
  }
}

.main-nav__wrapper {
  @media (min-width: $tablet-width) {
    width: 440px;
    margin: 0 auto;
    margin-top: 19px;
    background-image: none;
  }

  @media (min-width: $desktop-width) {
    width: 720px;
    height: 694px;
    margin-top: 0;
    background-color: rgba(104, 183, 56, 0.85);
    z-index: 3;
  }
}

.main-nav__catalog .main-nav__wrapper {
  @media (min-width: $desktop-width) {
    background-color: inherit;
  }
}

.main-nav__form .main-nav__wrapper {
  @media (min-width: $desktop-width) {
    background-color: inherit;
  }
}

.main-nav__toggle {
  padding: 20px 0;
  background-color: #ffffff;
  border: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 30px;
    right: 0;
    width: 26px;
    height: 2px;
    background-color: #000000;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav__open-burger {
  display: none;
}

.main-nav__list {
  margin: 0;
  padding: 0;
}

.main-nav__item {
  position: relative;
  text-transform: uppercase;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    width: 163px;
    margin-left: 35px;
    letter-spacing: -0.5px;
  }

  @media (min-width: $desktop-width) {
    width: 170px;
    margin-left: 33px;
    margin-top: 48px;
    font-family: "oswaldregular", sans-serif;
    letter-spacing: 1px;
    font-size: 20px;
    line-height: 30px;
  }
}

.main-nav__item:first-child {
  @media (min-width: $tablet-width) {
    width: 64px;
    margin-left: 0;
    letter-spacing: -0.8px;
  }

  @media (min-width: $desktop-width) {
    width: 75px;
    letter-spacing: 1px;
  }
}

.main-nav__item--active::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  bottom: 14px;
  left: 0;
  background-color: #ffffff;
}

.main-nav__form .main-nav__item--active::before {
  background-color: #68b738;
}

.main-nav__catalog .main-nav__item--active::before {
  background-color: #68b738;
}

.main-nav__link {
  display: block;
  padding: 23px 0;
  color: #000000;
  background-color: #ffffff;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  border-top: 1px solid #d9d9d9;
  box-sizing: border-box;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    color: #ffffff;
    background-color: inherit;
  }
}

.main-nav__link:hover {
  opacity: 0.6;
}

.main-nav__link:focus {
  opacity: 0.3;
}

.main-nav__catalog .main-nav__link {
  @media (min-width: $desktop-width) {
    color: #000000;
    background-color: inherit;
  }
}

.main-nav__form .main-nav__link {
  @media (min-width: $desktop-width) {
    color: #000000;
    background-color: inherit;
  }
}

.main-nav__item:last-child .main-nav__link {
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    border: none;
  }
}
