.main-header {
  display: flex;
  justify-content: space-between;
  width: 280px;
  height: 66px;
  margin: 0 auto;
  padding: 0 20px;
  color: #000000;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    width: 708px;
    height: 100px;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    height: 160px;
    padding: 0 110px;
  }
}

.main-header__logo {
  text-decoration: none;
}

.main-header__logo-text {
  margin-left: 57px;
}
