.program {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    background-color: #ffffff;
    padding: 0;
  }
}

.program__wrapper {
  color: #ffffff;
  background-color: #68b738;

  @media (min-width: $tablet-width) {
    color: #000000;
  }
}

.program__title {
  margin: 0;
  text-align: center;
  padding-top: 26px;
  font-family: "oswaldregular", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.program__text {
  margin: 0;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 164px;
  font-family: "oswaldregular", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
}

.program__button {
  width: 280px;
  margin: 0 auto;
  margin-top: 138px;
  padding: 11px 0;
  text-align: center;
  color: #ffffff;
  background-color: #68b738;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}
