.program {
  padding: 0 20px;
  font-family: "oswaldregular", sans-serif;
}

.program__wrapper {
  color: #ffffff;
  background-color: #68b738;
}

.program__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.program__text {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
}

.program__button {
  color: #ffffff;
  background-color: #68b738;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}
