.program-form {
  font-family: "oswaldregular", sans-serif;
}

.program-form__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.program-form__text {
  font-size: 14px;
  line-height: 18px;
}

.program-form__info {
  color: #444444;
  font-size: 16px;
  line-height: 18px;
}

.program-form__button {
  border: none;
}

.program-form__required-field {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
}
