.program-form {
  font-family: "oswaldregular", sans-serif;
}

.program-form__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.program-form__text {
  font-size: 14px;
  line-height: 18px;
}

.program-form__info {
  color: #444444;
  font-size: 16px;
  line-height: 18px;
}

.diet__list {
  margin: 0;
  padding: 0;
}

.diet__item {
  color: #222222;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  list-style-type: none;
}

.contact__title {
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
}

.contact__label {
  color: #444444;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}

.comments__title {
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
}

.additionally__title {
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
}

.additionally__list {
  margin: 0;
  padding: 0;
}

.additionally__item {
  list-style-type: none;
}

.additionally__label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}

.program-form__button {
  border: none;
}

.program-form__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
}
