.program {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    background-color: #ffffff;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
  }
}

.program__wrapper {
  color: #ffffff;
  background-color: #68b738;

  @media (min-width: $tablet-width) {
    color: #000000;
    background-color: #ffffff;
  }
}

.program__title {
  margin: 0;
  text-align: center;
  padding-top: 27px;
  font-family: "oswaldregular", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    width: 416px;
    text-align: start;
    font-size: 60px;
    line-height: 60px;
  }
}

.program__text {
  margin: 0;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 164px;
  padding-right: 3px;
  font-family: "oswaldregular", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding-bottom: 49px;
    text-align: start;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
  }
}

.program__button {
  width: 280px;
  margin: 0 auto;
  margin-top: 138px;
  padding: 11px 0;
  text-align: center;
  color: #ffffff;
  background-color: #68b738;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 244px;
    margin: 0;
    margin-bottom: 526px;
    font-size: 20px;
    height: 54px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 185px;
  }
}
