.site-list {
  position: absolute;
  width: 100%;
  text-align: center;
  right: 0;
  top: 65px;
  display: none;

  @media (min-width: $tablet-width) {
    position: relative;
    display: flex;
    top: 0;
  }

  @media (min-width: $desktop-width) {
    justify-content: center;
    margin-left: 11px;
  }
}
