.social {
  position: relative;
}

.social::before {
  position: absolute;
  content: "";
  width: 280px;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #d9d9d9;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
  margin-left: 75px;
  padding: 0;
  list-style-type: none;
}

.social__item {
  margin-right: 27px;
}
