.social {
  position: relative;
}

.social::before {
  position: absolute;
  content: "";
  width: 280px;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #d9d9d9;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
  margin-left: 75px;
  margin-bottom: 16px;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    margin-left: 52px;
    margin-top: 62px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 53px;
    margin-top: 37px;
  }
}

.social__item {
  margin-right: 24px;

  @media (min-width: $tablet-width) {
    margin-right: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 24px;
  }
}
