.table {
  @media (min-width: $tablet-width) {
    width: 250px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 168px;
    margin: 0 auto;
  }
}

.table__title {
  width: 76px;
  color: #222222;
  text-align: start;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    width: 145px;
    margin: 0 auto;
    margin-bottom: 21px;
    padding-top: 161px;
    text-align: center;
    font-size: 20px;
    line-height: 24px;
  }
}

.table__data {
  padding: 0;
  color: #444444;
  text-align: start;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }
}

.table__wrapper-data {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    padding-top: 7px;
    padding-bottom: 5px;
    border-bottom: 1px solid #cdcdcd;
  }
}

.table__data:last-child {
  text-align: end;
}
