@media (min-width: $tablet-width) {
  .was-became {
    width: 768px;
    margin-left: -30px;
    background-color: #eaeaea;
  }
}

@media (min-width: $desktop-width) {
  .was-became {
    width: 1200px;
    margin: 0;
    background-color: #f2f2f2;
  }
}
