.was-became {
  position: relative;
  margin-top: 40px;

  @media (min-width: $tablet-width) {
    width: 768px;
    margin-top: 255px;
    margin-left: -30px;
    padding-top: 362px;
    background-color: #eaeaea;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-top: 77px;
    background-color: #f2f2f2;
  }
}

.was-became__images {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.was-became__images-wrapper {
  display: none;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: -170px;
    left: 90px;
    display: flex;
  }

  @media (min-width: $desktop-width) {
    top: -179px;
    left: 68px;
  }
}

.was-became__wrapper {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin: 0 auto;
  margin-top: 15px;
  padding-bottom: 41px;

  @media (min-width: $tablet-width) {
    padding-bottom: 60px;
  }
}
