@import "./blocks/fonts.scss";
@import "./blocks/visually-hidden.scss";
@import "./blocks/main-header.scss";
@import "./blocks/button.scss";
@import "./blocks/main-nav__wrapper.scss";
@import "./blocks/main-nav__item.scss";
@import "./blocks/main-container.scss";
@import "./blocks/program.scss";
@import "./blocks/description.scss";
@import "./blocks/advantages.scss";
@import "./blocks/efficiency.scss";
@import "./blocks/addres.scss";
@import "./blocks/main-footer.scss";
@import "./blocks/main-footer__copyright.scss";
@import "./blocks/was-became.scss";
@import "./blocks/catalog.scss";
@import "./blocks/additional-products.scss";
@import "./blocks/catalog__table.scss";
@import "./blocks/show-all.scss";
@import "./blocks/gift.scss";
@import "./blocks/program-form.scss";
@import "./blocks/program-form__diet.scss";
@import "./blocks/program-form__contact.scss";
@import "./blocks/comments.scss";
@import "./blocks/additionally.scss";
