@import "./blocks/fonts.scss";
@import "./blocks/viewports.scss";
@import "./blocks/visually-hidden.scss";
@import "./blocks/page.scss";
@import "./blocks/main-header.scss";
@import "./blocks/button.scss";
@import "./blocks/main-nav.scss";
@import "./blocks/site-list.scss";
@import "./blocks/main-container.scss";
@import "./blocks/program.scss";
@import "./blocks/description.scss";
@import "./blocks/advantages.scss";
@import "./blocks/efficiency.scss";
@import "./blocks/was.scss";
@import "./blocks/became.scss";
@import "./blocks/addres.scss";
@import "./blocks/main-footer.scss";
@import "./blocks/social.scss";
@import "./blocks/copyright.scss";
@import "./blocks/was-became.scss";
@import "./blocks/catalog.scss";
@import "./blocks/additional-products.scss";
@import "./blocks/table.scss";
@import "./blocks/show-all.scss";
@import "./blocks/gift.scss";
@import "./blocks/program-form.scss";
@import "./blocks/control.scss";
@import "./blocks/diet.scss";
@import "./blocks/contact.scss";
@import "./blocks/comments.scss";
@import "./blocks/additionally.scss";
